In [1]:
import pandas as pd

In [3]:
tabela = pd.read_csv("esquistossomose.csv")

In [5]:
tabela

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_SIN_PRI,...,DT_TRANSSM,DT_TRANSRS,DT_TRANSSE,DT_OBITO,DS_FORMA,AN_QUALI,DTTRAT,DT_RESU3,OUTRO_EX,IDADE
0,2,B659,20180101,201801,2018,31,310620,1449,22659,20171229,...,20180607,,,,,,20180115,20180425,KATO-KATZ POSITIVO,55.0
1,2,B659,20180102,201801,2018,31,315210,1458,2218038,20171201,...,20180111,,,,,1,20180102,,,30.0
2,2,B659,20180102,201801,2018,31,312270,1458,6300219,20171207,...,20180215,,,,,1,20180102,,,33.0
3,2,B659,20180102,201801,2018,26,260830,1500,6511465,20171226,...,,,,,,1,20180108,,,52.0
4,2,B659,20180102,201801,2018,32,320130,1510,2546892,20171205,...,,,,,,1,20180102,,,46.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4214,2,B659,20181228,201852,2018,31,310620,1449,23183,20181005,...,20190221,,,,NAO INFORMADA,3,20181228,,BIOPSIA RETAL PESQUISA DE OVOS DO SCHIS,39.0
4215,2,B659,20181228,201852,2018,26,261160,1497,655,20181120,...,,,,,,,,,,16.0
4216,2,B659,20181229,201852,2018,31,313130,1468,2205440,20181001,...,,,,,,2,20181030,,IMUNOFLUORESCENCIA,52.0
4217,2,B659,20181230,201901,2018,32,320435,1509,2494353,20181226,...,20190624,,,,,1,20190102,20190522,PARASITOLOGICO,59.0
4218,2,B659,20181231,201901,2018,31,310620,1449,23892,20181231,...,20190110,,,,,,20181231,,EXAME LABORATORIO PRIVADO,33.0

In [4]:
tabela.keys()

Index(['TP_NOT', 'ID_AGRAVO', 'DT_NOTIFIC', 'SEM_NOT', 'NU_ANO', 'SG_UF_NOT',
       'ID_MUNICIP', 'ID_REGIONA', 'ID_UNIDADE', 'DT_SIN_PRI', 'SEM_PRI',
       'ANO_NASC', 'NU_IDADE_N', 'CS_SEXO', 'CS_GESTANT', 'CS_RACA',
       'CS_ESCOL_N', 'SG_UF', 'ID_MN_RESI', 'ID_RG_RESI', 'ID_PAIS',
       'DT_INVEST', 'ID_OCUPA_N', 'DT_COPRO', 'AN_QUANT', 'OUTROS', 'TRATAM',
       'TRATANAO', 'STCURA1', 'STCURA2', 'STCURA3', 'FORMA', 'TPAUTOCTO',
       'COUFINF', 'COPAISINF', 'COMUNINF', 'NOPROPIN', 'NOCOLINF',
       'DOENCA_TRA', 'EVOLUCAO', 'DT_ENCERRA', 'DT_DIGITA', 'DT_TRANSUS',
       'DT_TRANSDM', 'DT_TRANSSM', 'DT_TRANSRS', 'DT_TRANSSE', 'DT_OBITO',
       'DS_FORMA', 'AN_QUALI', 'DTTRAT', 'DT_RESU3', 'OUTRO_EX', 'IDADE'],
      dtype='object')

# Questão 2

In [18]:
def questao_2(datapath):
    tabela = pd.read_csv(datapath)
    return tabela.value_counts("ID_MUNICIP")

In [19]:
questao_2("esquistossomose.csv")

ID_MUNICIP
313130    419
310620    353
355030    173
310050    166
312270    127
         ...
310900      1
310690      1
310510      1
310040      1
313220      1
Name: count, Length: 598, dtype: int64

# Questão 4

In [17]:
def questao_4(datapath):
    tabela = pd.read_csv(datapath)
    return tabela["IDADE"].mean()

In [20]:
questao_4("esquistossomose.csv")

40.20773257745728

# Questão 5

In [119]:
def questao_5(datapath):
    tabela = pd.read_csv(datapath)
    tabela_por_estado = tabela.value_counts("SG_UF_NOT")
    codigos_estados = {35: 'SP', 41: 'PR', 42: 'SC', 43: 'RS', 50: 'MS', 11: 'RO', 12: 'AC', 13: 'AM', 14: 'RR', 15: 'PA', 16: 'AP', 17: 'TO', 21: 'MA', 24: 'RN', 25: 'PB', 26: 'PE', 27: 'AL', 28: 'SE', 29: 'BA', 31: 'MG', 33: 'RJ', 51: 'MT', 52: 'GO', 53: 'DF', 22: 'PI', 23: 'CE', 32: 'ES'}
    for i, j in codigos_estados.items():
        tabela_por_estado.rename(index = {i: j}, inplace = True)
    return tabela_por_estado.to_dict()

In [120]:
questao_5("esquistossomose.csv")

{'MG': 2064,
 'SP': 573,
 'ES': 437,
 'BA': 341,
 'PE': 177,
 'SE': 130,
 'AL': 102,
 'RO': 66,
 'MA': 54,
 'PR': 49,
 'PB': 46,
 'RJ': 44,
 'CE': 37,
 'DF': 24,
 'SC': 12,
 'GO': 12,
 'MT': 11,
 'RN': 11,
 'MS': 9,
 'PA': 8,
 'TO': 4,
 'RR': 3,
 'AP': 2,
 'RS': 2,
 'PI': 1}

# Questão 6

In [117]:
def questao_6(datapath):
    tabela = pd.read_csv(datapath)
    sexo_masculino = tabela[tabela["CS_SEXO"] == "M"]
    sexo_masculino_por_estado = sexo_masculino.value_counts("SG_UF_NOT")
    codigos_estados = {35: 'SP', 41: 'PR', 42: 'SC', 43: 'RS', 50: 'MS', 11: 'RO', 12: 'AC', 13: 'AM', 14: 'RR', 15: 'PA', 16: 'AP', 17: 'TO', 21: 'MA', 24: 'RN', 25: 'PB', 26: 'PE', 27: 'AL', 28: 'SE', 29: 'BA', 31: 'MG', 33: 'RJ', 51: 'MT', 52: 'GO', 53: 'DF', 22: 'PI', 23: 'CE', 32: 'ES'}
    for i, j in codigos_estados.items():
        sexo_masculino_por_estado.rename(index = {i: j}, inplace = True)
    return sexo_masculino_por_estado.to_dict()

In [118]:
questao_6("esquistossomose.csv")

{'MG': 1276,
 'SP': 312,
 'ES': 307,
 'BA': 191,
 'PE': 100,
 'SE': 78,
 'AL': 50,
 'PR': 41,
 'RO': 36,
 'MA': 35,
 'PB': 27,
 'RJ': 26,
 'CE': 19,
 'SC': 12,
 'DF': 11,
 'GO': 8,
 'RN': 7,
 'MS': 7,
 'MT': 6,
 'PA': 4,
 'TO': 2,
 'RR': 1,
 'AP': 1,
 'RS': 1}

# Questão 8