In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [4]:
tabela = pd.read_csv("esquistossomose.csv")
tabela

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_SIN_PRI,...,DT_TRANSSM,DT_TRANSRS,DT_TRANSSE,DT_OBITO,DS_FORMA,AN_QUALI,DTTRAT,DT_RESU3,OUTRO_EX,IDADE
0,2,B659,20180101,201801,2018,31,310620,1449,22659,20171229,...,20180607,,,,,,20180115,20180425,KATO-KATZ POSITIVO,55.0
1,2,B659,20180102,201801,2018,31,315210,1458,2218038,20171201,...,20180111,,,,,1,20180102,,,30.0
2,2,B659,20180102,201801,2018,31,312270,1458,6300219,20171207,...,20180215,,,,,1,20180102,,,33.0
3,2,B659,20180102,201801,2018,26,260830,1500,6511465,20171226,...,,,,,,1,20180108,,,52.0
4,2,B659,20180102,201801,2018,32,320130,1510,2546892,20171205,...,,,,,,1,20180102,,,46.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4214,2,B659,20181228,201852,2018,31,310620,1449,23183,20181005,...,20190221,,,,NAO INFORMADA,3,20181228,,BIOPSIA RETAL PESQUISA DE OVOS DO SCHIS,39.0
4215,2,B659,20181228,201852,2018,26,261160,1497,655,20181120,...,,,,,,,,,,16.0
4216,2,B659,20181229,201852,2018,31,313130,1468,2205440,20181001,...,,,,,,2,20181030,,IMUNOFLUORESCENCIA,52.0
4217,2,B659,20181230,201901,2018,32,320435,1509,2494353,20181226,...,20190624,,,,,1,20190102,20190522,PARASITOLOGICO,59.0
4218,2,B659,20181231,201901,2018,31,310620,1449,23892,20181231,...,20190110,,,,,,20181231,,EXAME LABORATORIO PRIVADO,33.0

In [5]:
#Quantos registros existem?
len(tabela.index)

4219

In [7]:
def questao_1(datapath):
    tabela = pd.read_csv(datapath)
    tamanho = len(tabela.index)
    return tamanho

In [8]:
questao_1("esquistossomose.csv")

4219

# QuestÃ£o 3

In [33]:
casos_por_sexo = dict(tabela["CS_SEXO"].value_counts())
maior_quantidade = list(casos_por_sexo.keys())
tupla = tuple(maior_quantidade[0])
print(casos_por_sexo)
print(tupla)

{'M': 2558, 'F': 1661}
('M',)